body{
	background-color: #77d4dc69;
}

.container{
	width: 500px;
	text-align: center;
	margin-left: 360px;
	margin-top : 40px;
	padding: 10px;
	background-color: #bcc8ff66;
	border-radius: 20px;
}

input[type="text"],input[type="submit"]{
	border-radius: 10px;
	width: 100px;
	font-weight: bold;
	font-size: 15px
}